*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: royalblue;
}
.navbar{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo a{
    font-size: 2rem;
    font-family: 'poppins';
}
.btnlinks ul{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    font-family: 'poppins';
    margin-block-end: 0;;
}

.btnlinks li{
    padding: 10px 10px;
}
 .btnlinks li:hover{
    background-color: lightblue;
    border-radius: 20px;
 }

.profile{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}