{% extends "base.html" %} 
{% load static %} 
{% comment %} {% load addcss %}  {% endcomment %}
{% block title %}
<title>Login</title>
{% endblock title %}

{% block body %}

<form method="post">
	{% csrf_token %}
	<!-- Email input -->
	<div class="form-outline mb-4 form-white">
		{{form.username}}
		<label class="form-label" for="email"
		>Email address</label
		>
	</div>
	
	<!-- Password input -->
	<div class="form-outline mb-4 form-white">
		{{form.password}}
		<label class="form-label" for="password"
		>Password</label
		>
	</div>
	<!-- Submit button -->
	<button type="submit" class="btn btn-white btn-block mb-4">
		Sign in
	</button>
	<hr class="hr">
	<!-- 2 column grid layout for inline styling -->
	
	<div class="d-flex justify-content-center">
		<!-- Simple link -->
		
		{% comment %} <a href="{% url 'password_reset' %}">Forgot Password?</a> {% endcomment %}
	</div>
	
	
</form>
{% endblock body %}