{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Password Reset</title>
{% endblock %} {% block script%} {% endblock %} {% comment content %}
<h1>Password Reset</h1>

{% endcomment %} {% block body %}
<section id="hero" class="d-flex flex-column justify-content-center">
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-xl-8">
            <div class="card mask-custom">
               <div class="card-body p-5 text-white">
                  <div class="my-4">
                     <h1 class="mb-4">Password Reset</h1>
                     <form method = "post">
            {% csrf_token %}
            <!-- Email -->
            <div class="form-outline mb-4 form-white">
               {{form.email|addcss:"form-control+email"}}
               <label for="email" class = "form-label">Email:</label>
            </div>
            <button type="submit" class="btn btn-white btn-block mb-4">Submit</button>
         </form>
      </div>
      </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>
{% endblock %}