*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: royalblue;
    position: relative;
}
.wrapper{
    margin: 1em;
    width: 70%;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
}
h1{
    margin: 20px 20px;
}
.wrapper label{
    font-size: 1.2rem;
    line-height: 1.3;
    font-family: 'poppins';
    padding-bottom: 10px;
}
.wrapper p{
    margin: 20px 20px;;
}