*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: royalblue;
 position: relative;
  
}
h1{
    position: absolute;
    top: 1.5rem;
    right: 1em;
    color: white;
    font-family:'Poppins';
}
.container{
    padding: 50px;
    width: 30%;
    position:relative;
    top: 50%;
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
    background: white;
    border-radius: 20px ;
    display: flex;
    justify-content: center
}
.container label{
    margin: 10px;
    font-size: 1.3em;
}
.container button{
    margin: 20px;
    margin-left: 30%;
}