*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
.section {
    background: url(/static/styles/images/low-poly-grid-haikei.png);
    padding: 30px 50px;
    position: relative;
}

img {
    max-width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
/* About Me 
---------------------*/

.col-lg-7{
    background-color: white;
    border-radius: 20px;
<<<<<<< HEAD
    padding:;
=======
    /* padding:; */
>>>>>>> 8c4a4dd881a84bef01af66b8d969c69c51461fe7
}
.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 20px;
}
@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}
.about-text h6 {
    margin-left: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .about-text h6 {
    font-size: 18px;
  }
}
.about-text p {
    color: black;
    margin-left: 20px;
  font-size: 18px;
  max-width: 450px;
}


.about-list {
  padding-top: 10px;
}
.about-list .media {
  padding: 5px 0;
}
.about-list label {
  color: #cc0303;
  font-weight: 600;
  width: 88px;
  margin-left: 20px;
  position: relative;
}

.about-list p {
  margin-left: 20px;
  font-size: 15px;
}
.col-lg-5{
    display: flex;
    justify-content: center;

}
.col-lg-5 img{
    background-color: white;
    padding: 50px 50px;
    border-radius: 20px;
}
@media (max-width: 991px) {
  .about-avatar {
    margin-top: 30px;
  }
}

.about-section .counter {
    margin-top: 30px;
  padding: 20px 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
}
.about-section .counter .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
}
.about-section .counter .count {
  font-weight: 700;
  color: #20247b;
  margin: 0 0 5px;
}
.about-section .counter p {
  font-weight: 600;
  margin: 0;
}
mark {
    background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
    background-size: 100% 3px;
    background-repeat: no-repeat;
    background-position: 0 bottom;
    background-color: transparent;
    padding: 0;
    color: currentColor;
}
.theme-color {
    color: #fc5356;
}
.dark-color {
    color: #20247b;
}



/* timeline starts here */
.timeline {
    background-color: #ffffff;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative
}
.timeline h1{
    padding: 20px 0px;
    text-align: center;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 100px;
    bottom: 5px;
    width: 5px;
    background: #2d353c;
    left: 20%;
    margin-left: -2.5px
}

.timeline>li {
    
    position: relative;
    min-height: 50px;
    padding: 20px 0
}

.timeline .timeline-time {
    position: absolute;
    left: 0;
    width: 18%;
    text-align: right;
    top: 30px
}

.timeline .timeline-time .date,
.timeline .timeline-time .time {
    display: block;
    font-weight: 600
}

.timeline .timeline-time .date {
    line-height: 16px;
    font-size: 12px
}

.timeline .timeline-time .time {
    line-height: 24px;
    font-size: 20px;
    color: #242a30
}

.timeline .timeline-icon {
    left: 15%;
    position: absolute;
    width: 10%;
    text-align: center;
    top: 40px
}

.timeline .timeline-icon a {
    text-decoration: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 20px;
    background: #d9e0e7;
    line-height: 10px;
    color: #fff;
    font-size: 14px;
    border: 5px solid #2d353c;
    transition: border-color .2s linear
}

.timeline .timeline-body {
    background:#84c3db;
    margin-left: 23%;
    margin-right: 17%;
    position: relative;
    padding: 20px 25px;
    border-radius: 6px
}

.timeline .timeline-body:before {
    content: '';
    display: block;
    position: absolute;
    border: 10px solid transparent;
    border-right-color: #fff;
    left: -20px;
    top: 20px
}

.timeline .timeline-body>div+div {
    margin-top: 15px
}

.timeline .timeline-body>div+div:last-child {
    margin-bottom: -20px;
    padding-bottom: 20px;
    border-radius: 0 0 6px 6px
}

.timeline-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e7eb;
    line-height: 30px
}

.timeline-header .userimage {
    float: left;
    width: 34px;
    height: 34px;
    border-radius: 40px;
    overflow: hidden;
    margin: -2px 10px -2px 0
}

.timeline-header .username {
    font-size: 2rem;
    font-weight: 600
}

.timeline-header .username,
.timeline-header .username a {
    color: #2d353c
}

.timeline img {
    max-width: 100%;
    display: block
}

.timeline-content {
    letter-spacing: .25px;
    line-height: 18px;
    font-size: 13px;
    display : flex;
    gap: 2em;
    overflow: hidden;
}
.timeline-content img{
<<<<<<< HEAD
    height: 50%;
    width: 30%;
=======
    /* height: 50%;
    width: 30%; */
>>>>>>> 8c4a4dd881a84bef01af66b8d969c69c51461fe7
    border-radius: 20px;
}
.timeline-content p{
    font-size: 1.3rem;
    line-height: 1.2;
}

.timeline-content:after,
.timeline-content:before {
    content: '';
    display: table;
    clear: both
}

.timeline-title {
    margin-top: 0
}

.timeline-footer {
    background: #fff;
    border-top: 1px solid #e2e7ec;
    padding-top: 15px
}

.timeline-footer a:not(.btn) {
    color: #575d63
}

.timeline-footer a:not(.btn):focus,
.timeline-footer a:not(.btn):hover {
    color: #2d353c
}

.timeline-likes {
    color:black;
    font-weight: 600;
    font-size: 12px
}

.timeline-likes .stats-right {
    float: right
}

.timeline-likes .stats-total {
    display: inline-block;
    line-height: 20px
}

.timeline-likes .stats-icon {
    float: left;
    margin-right: 5px;
    font-size: 9px
}

.timeline-likes .stats-icon+.stats-icon {
    margin-left: -2px
}

.timeline-likes .stats-text {
    line-height: 20px
}

.timeline-likes .stats-text+.stats-text {
    margin-left: 15px
}

.timeline-comment-box {
    background:#84c3db;
    margin-left: -25px;
    margin-right: -25px;
    padding: 20px 25px;
    display: flex;
    justify-content: flex-end;
}

.timeline-comment-box button {
    overflow: hidden;
    border-radius: 30px
}
<<<<<<< HEAD

=======
>>>>>>> 8c4a4dd881a84bef01af66b8d969c69c51461fe7
