
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
body{
    background-color: royalblue;
}
.section {
    background-color: royalblue;
    padding: 30px 50px;
    position: relative;
}


img {
    max-width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
/* About Me
---------------------*/


.col-lg-7{
    background-color: white;
    border-radius: 20px;
    /* padding:; */
}
.about-text h3 {
  font-size: 45px;
  font-weight: 700;
  margin: 20px;
}
@media (max-width: 767px) {
  .about-text h3 {
    font-size: 35px;
  }
}
.about-text h6 {
    margin-left: 20px;
  font-weight: 600;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .about-text h6 {
    font-size: 18px;
  }
}
.about-text p {
    color: black;
    margin-left: 20px;
  font-size: 18px;
  max-width: 450px;
}




.about-list {
  padding-top: 10px;
}
.about-list .media {
  padding: 5px 0;
}
.about-list label {
  color: #cc0303;
  font-weight: 600;
  width: 88px;
  margin-left: 20px;
  position: relative;
}


.about-list p {
  margin-left: 20px;
  font-size: 15px;
}
.col-lg-5{
    display: flex;
    justify-content: center;


}
.col-lg-5 img{
    background-color: white;
    padding: 50px 50px;
    width: 300px;
    height: 300px;
    border-radius: 20px;
}
@media (max-width: 991px) {
  .about-avatar {
    margin-top: 30px;
  }
}


.about-section .counter {
    width: 100%;
    margin-top: 30px;
    padding: 10px 10px;
    background: white;
    border-radius: 10px;
}
.about-section .counter .count-data {
  margin-top: 10px;
  margin-bottom: 10px;
}
.about-section .counter .count {
  font-weight: 700;
  color: #20247b;
  margin: 0 0 5px;
}
.about-section .counter p {
  font-weight: 600;
  margin: 0;
}
#creev{
    display: flex;
    align-items: center;
    justify-content: center;
}


.theme-color {
    color: #fc5356;
}
.dark-color {
    color: #20247b;
}






/* timeline starts here */
.timewrap{
    background-color: royalblue;
    display: flex;
    justify-content: center;
}
.timeline {
    width: 80%;
    background-color: white;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    border-radius: 30px;
}
.timeline h1{
    padding: 20px 0px;
    padding-top: 30px;
    text-align: center;
}


.timeline::before {
    content: '';
    position: absolute;
    top: 100px;
    bottom: 5px;
    width: 5px;
    background: #2d353c;
    left: 20%;
    margin-left: -2.5px
}


.timeline>li {
   
    position: relative;
    min-height: 50px;
    padding: 20px 0
}


.timeline .timeline-time {
    position: absolute;
    left: 0;
    width: 18%;
    text-align: right;
    top: 30px
}


.timeline .timeline-time .date,
.timeline .timeline-time .time {
    display: block;
    font-weight: 600
}


.timeline .timeline-time .date {
    line-height: 16px;
    font-size: 12px
}


.timeline .timeline-time .time {
    line-height: 24px;
    font-size: 20px;
    color: #242a30
}


.timeline .timeline-icon {
    left: 15%;
    position: absolute;
    width: 10%;
    text-align: center;
    top: 40px
}


.timeline .timeline-icon a {
    text-decoration: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 20px;
    background: #d9e0e7;
    line-height: 10px;
    color: #fff;
    font-size: 14px;
    border: 5px solid #2d353c;
    transition: border-color .2s linear
}


.timeline .timeline-body {
    background:lightblue;
    margin-left: 23%;
    margin-right: 17%;
    position: relative;
    padding: 20px 25px;
    border-radius: 6px;
    height: min-content;
}


.timeline .timeline-body:before {
    content: '';
    display: block;
    position: absolute;
    border: 10px solid transparent;
    border-right-color: #fff;
    left: -20px;
    top: 20px
}


.timeline .timeline-body>div+div {
    margin-top: 15px
}


.timeline .timeline-body>div+div:last-child {
    margin-bottom: -20px;
    padding-bottom: 20px;
    border-radius: 0 0 6px 6px
}


.timeline-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #e2e7eb;
    line-height: 30px
}


.timeline-header .userimage {
    float: left;
    width: 34px;
    height: 34px;
    border-radius: 40px;
    overflow: hidden;
    margin: -2px 10px -2px 0
}


.timeline-header .username {
    font-family: 'poppins';
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600
}


.timeline-header .username,
.timeline-header .username a {
    color: #2d353c
}


.timeline img {
    max-width: 100%;
    height: 100%;
    display: block
}


.timeline-content {
    letter-spacing: .25px;
    line-height: 18px;
    font-size: 13px;
    display : flex;
    gap: 2em;
    overflow: hidden;
}
.timeline-content img{
    /* height: 50%;
    width: 30%; */
    border-radius: 20px;
}
.timeline-content p{
    font-size: 1.3rem;
    line-height: 1.2;
}


.timeline-content:after,
.timeline-content:before {
    content: '';
    display: table;
    clear: both
}


.timeline-title {
    margin-top: 0
}
